* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.slidebox {
    width: 140px;
    height: 3px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transform: rotateY(0);
    transition: transform .3s ease-in;
}

.slider {
    height: 100%;
    width: 68px;
    position: absolute;
    transform: translate(-34px);
    background-color: rgb(0, 119, 181);
    border-radius: 2px;
    animation: initial-loading 1.5s ease infinite;
}

.bg-set {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
}

.bg-set img {
    width: 300px;
}

@keyframes initial-loading {
    0% {
        transform: translate(-34px);


    }

    50% {
        transform: translate(110px);

    }

    100% {
        transform: translate(-34px);
    }
}